* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6f6f8;
}

.one_title {
    margin-top: 100px;
}

.two_title,
.add_title,
.three_title,
.four_title,
.fife_title {
    margin-top: 180px;
}

.abs_title {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* gap: 200px; */
    width: 60%;
    background-color: rgba(255, 104, 17, 0);
}


.sky_title {
    pad: 40px;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 136, 255, 0);
}

.sky_box {
    background-color: #afafaf00;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.boardP {
    position: static;
    gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 50px;
    border-radius: 1rem;
    background-color: #e0dfe294;
    backdrop-filter: blur(10px);
    opacity: 0;
    transform: translateY(0%);
    font-size: 0.9rem;
    font-weight: normal;
    font-family: unbo;
    z-index: 999;
}

.boardP.animatest {
    animation: updown 0.4s ease forwards;
}

.boardP.animateOut {
    animation: updownOut 0.4s ease forwards;
}

@keyframes updown {
    0% {
        opacity: 0;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(5%);
    }
}

@keyframes updownOut {
    0% {
        opacity: 1;
        transform: translateY(5%);
    }

    100% {
        opacity: 0;
        transform: translateY(0%);
    }
}

.boardP.animate {
    animation: upLoad 2s ease forwards;
}

#tb {
    font-family: unbob;
    color: black;
    font-weight: normal;
    text-decoration: none;
}

.logos_start {
    display: flex;
    transform: translate(-150%, 0%);
    font-size: 1.3rem;
    font-family: unbob;
    white-space: nowrap;
    z-index: 10;
}

.logo_start {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-family: unbob;
    white-space: nowrap;
    z-index: 10;
}

.logo_start.animate {
    animation: textdel 3s ease-out forwards;
}

@keyframes textdel {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        top: 5.5%;
        left: 5.5%;
        transform: translate(0%, 0%);
        font-size: 1.3rem;
    }
}


.one_title {
    min-width: 100%;
    min-height: 100px;
    background-color: rgba(0, 255, 255, 0);
    opacity: 0;
}

.one_title.animate {
    animation: upLoad 4s ease forwards;
}

.one_box {
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.star_text {
    font-size: 3rem;
    font-family: unbom;
    font-weight: normal;
}

.ab_text {
    font-size: 1rem;
    font-family: unbo;
    width: 500px;
    text-align: center;
    color: rgb(41, 41, 41);
    font-weight: normal;
}

.start_box {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 200px;
    height: 55px;
    background-color: black;
    color: white;
    font-family: unbo;
    border-radius: 35px;
    font-size: 0.9rem;
}

.cir_link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    /* background-color: white; */
    border-radius: 50px;
}

.imgar {
    width: 30px;
}

.book {
    min-width: 500px;
    width: 700px;
}


.two_title {
    width: 100%;
    min-height: 500px;
    background-color: rgba(0, 255, 255, 0);
    display: none;
}

.two_title.animate {
    display: block;
    animation: upLoad 4s ease forwards;
}


.two_box {
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headt {
    font-size: clamp(1.5rem, 2rem, 2.1rem);
    font-family: unbo;
}

.subtitle {
    font-size: 1rem;
    font-family: unbo;
    min-width: 350px;
    width: 650px;
    text-align: center;
    color: rgb(41, 41, 41);
    font-weight: normal;
    flex-wrap: wrap;
}

.box_ST {
    margin-top: 50px;
    position: relative;
    min-width: 50%;
    width: 100%;
    height: 750px;
    background-color: rgba(0, 0, 0, 0);
}

#grT {
    font-family: unbob;
    font-size: 1.3rem;
    font-weight: normal;
    margin-left: 7%;
}

#infoT {
    left: 5%;
    font-family: unbo;
    font-size: 1rem;
    font-weight: normal;
    margin-left: 7%;
    max-width: 400px;
    flex-wrap: wrap;
}

.boxesInfo {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-direction: column;
    position: absolute;
    min-width: 100px;
    width: 45%;
    height: 250px;
    background-color: white;
    border-radius: 25px;
    transition: transform 0.5s ease;
    /* border: 1px solid rgb(190, 190, 190); */
    z-index: 10;
}

.boxesInfo:hover {
    transform: scale(1.02);
}


/* .boxesInfo:nth-child(1) {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-direction: column;
    position: absolute;
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 25px;
    /* border: 1px solid rgb(190, 190, 190); */
/* z-index: 10;
} */

.boxesInfo:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
}

.boxesInfo:nth-child(3) {
    position: absolute;
    bottom: 0;
}

.boxesInfo:nth-child(4) {
    position: absolute;
    bottom: 0;
    right: 0;
}

.boxesCircle {
    user-select: none;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-family: unbo;
    font-weight: normal;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50rem;
    background-color: #000000;
    z-index: 2;
    /* background: radial-gradient(circle at center, #0798ffbb 30%, #ffffff10 50%);   */
}

.boxesCircle.animate {
    animation: sea 1s ease;
}


@keyframes sea {
    0% {
        opacity: 20%;
        transform: translate(-50%, -50%) scale(1.1);
    }

    100% {
        opacity: 100%;
        transform: translate(-50%, -50%) scale(1);
    }
}



.boxesCircle::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3d3d3d81;
    content: '';
    width: 120%;
    height: 120%;
    border-radius: 50%;
    z-index: -1;
}

.boxesCircle::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3d3d3d13;
    content: '';
    width: 140%;
    height: 140%;
    border-radius: 50%;
    z-index: -2;
}

.add_title {
    width: 100%;
    min-height: 100px;
    background-color: rgba(0, 255, 255, 0);
    /* display: none; */
}

/* .add_title.animate {
    display: block;
    animation: upLoad 4s ease forwards;
} */


.box_add {
    min-height: 100%;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 255, 255, 0);
}


.grid-card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3%;
    justify-items: center;
    align-items: center;
    min-width: 60%;
    width: 100%;
}

.CardsGrid {
    border-radius: 1.5rem;
    min-width: 100%;
    height: 350px;
    max-width: 100%;
    background-color: #ffffff;
    grid-column: span 2;
    transition: transform 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.010) 0 0 4px 1px;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 15% 40px 15% 40px;
    box-sizing: border-box;
}

.CardsGrid#bottom {
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8% 40px 15% 40px;
    box-sizing: border-box;
    overflow: hidden;
    
}

.CardsGrid:nth-child(4) {
    background-color: #E0DFE2;
}


.CardsGrid:nth-child(5) {
    background-color: #000000;
}


.ideaImg {
    width: 550px;
}

.bookImg {
    width: 550px;
}

.CardsGrid:hover {
    transform: scale(1.03);
}

.CardsGrid#bottom {
    position: relative;
    grid-column: span 3;
}

.s1-gridText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-family: unbo;
    font-weight: normal;
    font-size: 1.5rem;
    border-radius: 50%;
    border: 1px solid black;
    color: #e5a380;
    margin-bottom: 40px;
    transition: transform 0.5s ease;
}

.CardsGrid:hover .s1-gridText {
    transform: scale(1.3);
}

#s2-ideat {
    margin-bottom: 20px;
}

.s2-gridSub {
    margin-bottom: 40px;
    font-family: unbob;
    font-weight: normal;
    font-size: 1.3rem;
}

.CardsGrid:nth-child(5) .s2-gridSub {
    color: rgb(255, 255, 255);
}

.s3-gridInfoSub {
    font-family: unbo;
    font-weight: normal;
    font-size: 0.85rem;
}

.CardsGrid:nth-child(5) .s3-gridInfoSub {
    color: white;
}

.butInfo {
    position: absolute;
    top: 80%;
    font-family: unbo;
    font-size: 0.9rem;
    font-weight: normal;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.075) 0 0 4px 1px;
    cursor: pointer;
}



.three_title {
    width: 100%;
    min-height: 100px;
    background-color: rgba(0, 255, 255, 0);
    display: none;
}

.three_title.animate {
    display: block;
    animation: upLoad 4s ease forwards;
}


.three_box {
    /* max-width: 1200px; ← ограничиваем максимальную ширину */
    /* margin: 0 auto; /* ← центрируем */
    /* padding: 0 20px; */
    min-height: 100%;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 255, 255, 0);
}

.rowSt {
    /* flex-wrap: wrap; */
    display: flex;
    gap: 20px;
    min-width: 100%;
    justify-content: space-between;
}

.abT {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    width: 200px;
    height: 35px;
    border: 1px solid black;
    font-family: unbo;
    font-weight: normal;
    border-radius: 50px;
    font-size: 0.9rem;
}

.infoSub {
    text-align: right;
    min-width: 500px;
    font-family: unbo;
    font-weight: normal;
    flex-wrap: nowrap;
    font-size: 1rem;
}

.aboutCard {
    margin-top: 3%;
    width: 100%;
    height: 600px;
    background-color: #64616100;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.imgAv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 700px;
    min-width: 300px;
    min-height: 100%;
    background-color: #E0DFE2;
    border-radius: 50px;
    overflow: hidden;
}

.rowSub {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.boxSub {
    min-width: 350px;
    height: 170px;
    border-radius: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 30px;
}

.imgHum {
    width: 600px;
    transition: transform 1s ease;
}

.imgHum:hover {
    transform: scale(1.1);

}

.addInfo {
    display: flex;
    position: absolute;
    bottom: 20px;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    width: min(75%, 1000px);
    min-height: 100px;
    background-color: #9797971f;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 40px;
    backdrop-filter: blur(4px);
    z-index: 111;
}

.oneSub {
    font-family: unbob;
    font-weight: normal;
    margin-left: 5%;
    font-size: 1.3rem;
}

.twoSub {
    font-family: unbo;
    font-size: 0.95rem;
    font-weight: normal;
    margin-left: 5%;
    width: 80%;
}

.textName {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: unbob;
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.textName::after {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: normal;
    color: #fcfcfc;
    content: 'Преподаватель';
}

.butLink {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35PX;
    position: relative;
    font-family: unbo;
    width: 200px;
    height: 60px;
    background-color: #000000;
    color: white;
    margin-left: auto;
    text-decoration: none;
}

/* .link {
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.137);
} */





.four_title {
    width: 100%;
    min-height: 500px;
    background-color: rgba(0, 255, 255, 0);
    display: none;
}

.four_title.animate {
    display: flex;
    animation: upLoad 4s ease forwards;
}


.four_box {
    box-sizing: border-box;
    width: 100%;
    gap: 50px;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    background-color: rgba(0, 255, 76, 0);
}

.rowOt {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.infoOt {
    font-family: unbo;
    font-weight: normal;
    font-size: 1.1rem;
}

.circleLR {
    margin-top: -40px;
    display: flex;
    gap: 20px;
}

.circleL,
.circleR {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}

.artL {
    width: 30px;
    transform: rotate(180deg);
    opacity: 60%;
}

.artR {
    width: 30px;
    transform: rotate(0deg);
}



.cardSel {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
    gap: 50px;

}

.carded:nth-child(4) {
    flex-direction: column;
    display: flex;
    /* align-items: center; */
    gap: 70px;
    justify-content: center;
    flex: 0 0 336px;
    height: 488px;
    background-color: #ffffff;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 35px;
    /* margin-right: 15%; */
}


.otvBut {
    margin-top: 30%;
    margin-left: 10%;
    width: 80%;
    height: 60px;
    background-color: #000000;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: unbo;
    font-weight: normal;
}

.carded:nth-child(4) #infoOt {
    width: 250px;
}


.carded {
    flex: 0 0 336px;
    height: 488px;
    background-color: #E0DFE2;
    border-radius: 25px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: 0px;
}

.avaOt {
    background: #afafaf;
    border: 1px solid grey;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-left: 10%;
    margin-top: 15%;
}

#sk {
    font-family: unbom;
    font-size: 4rem;
    font-weight: normal;
    margin-top: 10%;
    margin-left: 10%;
}

#infoOt {
    margin-left: 10%;
    font-family: unbo;
    font-weight: normal;
    font-size: 1rem;
    width: 300px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.rowNl {
    display: flex;
    margin-top: 20%;
    margin-left: 10%;
    width: 80%;
    justify-content: space-between;
}

.rowses {
    display: flex;
    gap: 20px;
}

.linesL {
    width: 2px;
    height: 50px;
    background-color: #767676;
}

#nameLN {
    font-family: unbo;
    font-weight: normal;
    font-size: 1.1rem;
    position: relative;
}

#nameLN::after {
    position: absolute;
    top: 60%;
    left: 0;
    content: 'Учитель';
    color: #555555;
    font-size: 1rem;
}

#sdi {
    font-family: unbo;
    font-weight: normal;
    font-size: 1.1rem;
}



.fife_title {
    width: 100%;
    min-height: 700px;
    background-color: rgba(0, 255, 255, 0);
    display: none;
}

.fife_title.animate {
    display: flex;
    animation: upLoad 4s ease forwards;
}


.fife_box {
    box-sizing: border-box;
    width: 100%;
    gap: 50px;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    background-color: rgba(0, 255, 76, 0);
}


.colBox {
    height: auto;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quecolB {
    box-sizing: border-box;
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 100%;
    min-height: 90px;
    height: auto;
    background-color: #ffffff;
    border-radius: 1.5rem;
}

#questB {
    font-family: unbo;
    font-weight: normal;
    font-size: 1.1rem;
}

.cir_dop {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: unbo;
    font-weight: normal;
    font-size: 2rem;
    min-width: 60px;
    height: 60px;
    background-color: #000000;
    border-radius: 50%;
    color: rgb(235, 235, 235);
}

.rowTs {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.textInfo {
    display: none;
    margin-top: 5%;
    font-family: unbob;
    font-weight: normal;
    font-size: 1.2rem;
}




.end_title {
    margin-top: 100px;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: none;
    justify-content: center;
    align-items: center;
}

.end_title.animate {
    display: flex;
    animation: upLoad 4s ease forwards;
}


.end_box {
    box-sizing: border-box;
    padding-top: 100px;
    width: 60%;
    height: 350px;
    /* gap: 50px; */
    display: flex;
    flex-direction: column;
    background-color: rgba(22, 59, 34, 0);
}

.rowE {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#endText {
    position: relative;
    color: white;
    font-family: unbob;
    font-weight: normal;
}

#endText::after {
    content: 'Напиши нам и мы вам ответим';
    color: #AEAEAE;
    position: absolute;
    top: 70%;
    left: 0;
    font-size: 1rem;
    font-family: unbo;
}

.boxLink {
    width: 145px;
    height: 70px;
    border-radius: 45px;
    gap: 10px;
    background-color: #E0DFE2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgavaso {
    width: 55px;
}

.tgLink {
    width: 55px;
}

#subE {
    font-family: unbo;
    font-weight: normal;
    font-size: 1.1rem;
    color: #AEAEAE;
}

.line {
    margin: 30px 0 30px 0;
    width: 100%;
    height: 0.5%;
    background-color: #E0DFE2;
}

.kT {
    font-size: 1rem;
    font-family: unbo;
    font-weight: normal;
    color: #AEAEAE;
    gap: 20px;
    display: flex;
    flex-direction: row;
}





































@keyframes upLoad {
    0% {
        transform: translateY(15%);
        opacity: 20%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}



@font-face {
    font-family: "fbold";
    src: url("FindSansPro-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "freg";
    src: url("FindSansPro-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "segob";
    src: url("SegoeUI-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "sego";
    src: url("SegoeUI.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "unbo";
    src: url("Unbounded-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "unbob";
    src: url("Unbounded-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "unbom";
    src: url("Unbounded-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@media (max-width: 1366px) {
    .abs_title {
        width: 70%;
    }
}