* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6f6f8;
}

.one_title {
    margin-top: 140px;
}

.two_title,
.add_title,
.three_title,
.four_title,
.fife_title {
    margin-top: 100px;
    /* opacity: 1; */
}

.abs_title {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* gap: 200px; */
    width: 60%;
    background-color: rgba(255, 104, 17, 0);
}

.sky_title {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid rgb(226, 226, 226);
    z-index: 999;
}

.sky_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 100%;
    /* background-color: #1b1b1b; */
}

.rowTl-E {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.Tl-e-t {
    text-decoration: none;
    cursor: pointer;
    font-family: robr;
    color: #2e2e2e;
    font-size: 1rem;
}

#logoss {
    text-decoration: none;
    width: 100px;
}

#nameL {
    font-size: 1rem;
    font-family: unbob;
    font-weight: normal;
}

.rowBut {
    /* margin-top: 10px; */
    /* background-color: #fbc783; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    height: 100%;
}

.dropdown {
    /* padding: 5px; */
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 70%;
    position: relative;
    display: inline-block;
}

.tlI-drop {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: robr;
    width: 160px;
    height: 95%;
    border: 1px solid black;
    border-radius: 0.8rem;
    color: #2e2e2e;
    font-family: robr;
    font-weight: normal;
}

.tlII-drop {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: robr;
    width: 160px;
    height: 70%;
    border-radius: 0.8rem;
    background-color: #2e2e2e;
    font-family: robr;
    font-weight: normal;
}

.dropList {
    margin-top: 10px;
    right: 0;
    display: none;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    /* gap: 20px; */
    position: absolute;
    background-color: white;
    border-radius: 1rem;
    min-width: 200px;
    height: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
}

.dropdown:hover .dropList {
    display: flex;
}

.dropText {
    width: 100%;
    height: 35px;
    border-radius: 0.4rem;
    /* background-color: rgb(235, 235, 235); */
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: robl;
    font-weight: normal;
    font-size: 1rem;
}

.dropText:hover {
    background-color: rgb(235, 235, 235);
}

#noneT {
    color: #AEAEAE;
}
















.one_title {
    min-width: 100%;
    min-height: 100px;
    background-color: rgba(0, 255, 255, 0);
    opacity: 0;
}

.one_title.animate {
    animation: upLoad 4s ease forwards;
}

.one_box {
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.star_text {
    font-size: 3rem;
    font-family: robb;
    font-weight: normal;
    color: #2e2e2e;
}

.ab_text {
    font-size: 1rem;
    font-family: robl;
    width: 500px;
    text-align: center;
    color: #000000;
    font-weight: normal;
}

.start_box {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 180px;
    height: 55px;
    background-color: #2e2e2e;
    color: white;
    font-family: robl;
    border-radius: 1rem;
    font-size: 1rem;
}

.cir_link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    /* background-color: white; */
    border-radius: 50px;
}

.imgar {
    width: 30px;
}

.book {
    min-width: 500px;
    width: 700px;
}


.two_title {
    width: 100%;
    min-height: 500px;
    background-color: rgba(0, 255, 255, 0);
    display: none;
}

.two_title.animate {
    display: block;
    animation: upLoad 4s ease forwards;
}


.two_box {
    width: 100%;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headt {
    font-size: 2.5rem;
    font-family: robb;
    font-weight: normal;
    color: #2e2e2e;
}

.subtitle {
    font-size: 1.05rem;
    font-family: robl;
    min-width: 350px;
    width: 650px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: normal;
    flex-wrap: wrap;
}

.box_ST {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
    min-width: 50%;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.ui-icon-bx {
    width: 30px;
    /* margin-left: 7%; */
}

.grT {
    font-family: robm;
    font-size: 1.6rem;
    font-weight: normal;
    margin-top: 8%;
    color: #2e2e2e;
}

.infoT {
    left: 5%;
    font-family: robl;
    font-size: 1.05rem;
    font-weight: normal;
    margin-top: 5%;
    max-width: 400px;
    color: #2e2e2e;
    flex-wrap: wrap;
}

.boxesInfo {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    min-width: 100px;
    width: 100%;
    height: 250px;
    background-color: white;
    border-radius: 25px;
    transition: transform 0.2s ease;
    z-index: 10;
    padding: 40px;
    box-sizing: border-box;
}

.boxesInfo:hover {
    transform: scale(1.02);
}

.add_title {
    width: 100%;
    min-height: 100px;
    background-color: rgba(0, 255, 255, 0);
    /* display: none; */
}

/* .add_title.animate {
    display: block;
    animation: upLoad 4s ease forwards;
} */


.box_add {
    min-height: 100%;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 255, 255, 0);
}


.grid-card {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3%;
    justify-items: center;
    align-items: center;
    min-width: 60%;
    width: 100%;
}

.CardsGrid {
    border-radius: 1.5rem;
    min-width: 100%;
    height: 350px;
    max-width: 100%;
    background-color: #ffffff;
    grid-column: span 2;
    transition: transform 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.010) 0 0 4px 1px;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 15% 40px 15% 40px;
    box-sizing: border-box;
}

.CardsGrid#bottom {
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8% 40px 15% 40px;
    box-sizing: border-box;
    overflow: hidden;
    
}

.CardsGrid:nth-child(4) {
    background-color: #E0DFE2;
}


.CardsGrid:nth-child(5) {
    background-color: #1b1b1b;
}


.ideaImg {
    width: 450px;
}

.bookImg {
    width: 550px;
}

.CardsGrid:hover {
    transform: scale(1.03);
}

.CardsGrid#bottom {
    position: relative;
    grid-column: span 3;
}

.s1-gridText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-family: robl;
    font-weight: normal;
    font-size: 2rem;
    border-radius: 50%;
    border: 1px solid black;
    color: #2e2e2e;
    margin-bottom: 40px;
    transition: transform 0.5s ease;
}

.CardsGrid:hover .s1-gridText {
    transform: scale(1.3);
}

#s2-ideat {
    margin-bottom: 20px;
}

.s2-gridSub {
    margin-bottom: 40px;
    font-family: robm;
    font-weight: normal;
    font-size: 1.5rem;
    color: #2e2e2e;
}

.CardsGrid:nth-child(5) .s2-gridSub {
    color: rgb(255, 255, 255);
}

.s3-gridInfoSub {
    font-family: robl;
    font-weight: normal;
    font-size: 1.05rem;
    color: #2e2e2e;
}

.CardsGrid:nth-child(5) .s3-gridInfoSub {
    color: white;
}

.butInfo {
    position: absolute;
    top: 80%;
    font-family: robl;
    font-size: 1.05rem;
    font-weight: normal;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.075) 0 0 4px 1px;
    cursor: pointer;
}



.three_title {
    width: 100%;
    min-height: 100px;
    background-color: rgba(0, 255, 255, 0);
    display: none;
}

.three_title.animate {
    display: block;
    animation: upLoad 4s ease forwards;
}


.three_box {
    min-height: 100%;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 255, 255, 0);
}

.rowSt {
    /* flex-wrap: wrap; */
    display: flex;
    gap: 20px;
    min-width: 100%;
    justify-content: space-between;
}

.abT {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    width: 200px;
    height: 35px;
    border: 1px solid black;
    font-family: unbo;
    font-weight: normal;
    border-radius: 50px;
    font-size: 0.9rem;
}

.infoSub {
    text-align: right;
    min-width: 500px;
    font-family: unbo;
    font-weight: normal;
    flex-wrap: nowrap;
    font-size: 1rem;
}

.aboutCard {
    margin-top: 3%;
    width: 100%;
    height: 600px;
    background-color: #64616100;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.imgAv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 700px;
    min-width: 300px;
    min-height: 100%;
    background-color: #E0DFE2;
    border-radius: 1.7rem;
    overflow: hidden;
}

.rowSub {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.boxSub {
    min-width: 350px;
    height: 170px;
    border-radius: 1.4rem;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 30px;
}

.imgHum {
    width: 600px;
    transition: transform 1s ease;
}

.imgHum:hover {
    transform: scale(1.1);

}

.addInfo {
    display: flex;
    position: absolute;
    bottom: 20px;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    width: min(75%, 1000px);
    min-height: 100px;
    background-color: #9797971f;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 40px;
    backdrop-filter: blur(4px);
    z-index: 111;
}

.oneSub {
    font-family: unbob;
    font-weight: normal;
    margin-left: 5%;
    font-size: 1.3rem;
}

.twoSub {
    font-family: unbo;
    font-size: 0.95rem;
    font-weight: normal;
    margin-left: 5%;
    width: 80%;
}

.textName {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: unbob;
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.textName::after {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: normal;
    color: #fcfcfc;
    content: 'Преподаватель';
}

.butLink {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    position: relative;
    font-family: unbo;
    width: 200px;
    height: 60px;
    background-color: #000000;
    color: white;
    margin-left: auto;
    text-decoration: none;
}

.butLink:hover {
    color: rgba(255, 255, 255, 0.753);
}




.four_title {
    width: 100%;
    min-height: 500px;
    background-color: rgba(0, 255, 255, 0);
    display: none;
}

.four_title.animate {
    display: flex;
    animation: upLoad 4s ease forwards;
}


.four_box {
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    gap: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 255, 76, 0);
}

.rowCard {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3%;
    overflow: hidden;
    box-sizing: border-box;
}

.cardSel {
    width: 380px;
    height: 450px;
    background-color: white;
    border-radius: 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
    /* padding: 2.5%; */
}

.infoSn {
    padding: 10% 10% 0 10%;
    font-family: robl;
    font-weight: normal;
    font-size: 1.2em;
    height: 25%;
}

.rowSb {
    padding: 0 10% 0 10%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.imgSub {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #000000;
}

.blur {
    width: 110%;
}

.nameOrSub {
    position: relative;
    font-family: unbob;
    font-weight: normal;
    font-size: 1rem;
}

.nameOrSub::after {
    content: 'Ученик';
    position: absolute;
    top: 50%;
    left: 0;
    font-family: unbo;
    font-size: 0.8rem;
    color: rgb(168, 168, 168);
}

.cardSel:nth-child(1) .blurB-S {
    width: 100%;
    height: 100%;
    background: linear-gradient(175deg, rgba(0, 0, 0, 0) 30%, #fbc783);
}

.cardSel:nth-child(2) .blurB-S {
    width: 100%;
    height: 100%;
    background: linear-gradient(175deg, rgba(0, 0, 0, 0) 30%, #9d83fbbe);
}

.cardSel:nth-child(3) .blurB-S {
    width: 100%;
    height: 100%;
    background: linear-gradient(175deg, rgba(0, 0, 0, 0) 30%, #83adfb);
}


.fife_title {
    width: 100%;
    min-height: 700px;
    background-color: rgba(0, 255, 255, 0);
    display: none;
}

.fife_title.animate {
    display: flex;
    animation: upLoad 4s ease forwards;
}


.fife_box {
    box-sizing: border-box;
    width: 100%;
    gap: 50px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 255, 76, 0);
}


.colBox {
    width: 100%;
    height: auto;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quecolB {
    box-sizing: border-box;
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 100%;
    min-height: 90px;
    height: auto;
    background-color: #ffffff;
    border-radius: 1.5rem;
}

#questB {
    font-family: robl;
    font-weight: normal;
    font-size: 1.3rem;
}

.cir_dop {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: robl;
    font-weight: normal;
    font-size: 2rem;
    min-width: 60px;
    height: 60px;
    background-color: #000000;
    border-radius: 50%;
    color: rgb(235, 235, 235);
}

.rowTs {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.textInfo {
    display: none;
    margin-top: 3%;
    font-family: robr;
    font-weight: normal;
    font-size: 1.2rem;
}




.end_title {
    margin-top: 0px;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: none;
    justify-content: center;
    align-items: center;
}

.end_title.animate {
    display: flex;
    animation: upLoad 4s ease forwards;
}


.end_box {
    box-sizing: border-box;
    padding-top: 100px;
    width: 60%;
    height: 350px;
    /* gap: 50px; */
    display: flex;
    flex-direction: column;
    background-color: rgba(22, 59, 34, 0);
}

.rowE {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#endText {
    position: relative;
    color: white;
    font-family: unbob;
    font-weight: normal;
}

#endText::after {
    content: 'Напиши нам и мы вам ответим';
    color: #AEAEAE;
    position: absolute;
    top: 70%;
    left: 0;
    font-size: 1rem;
    font-family: unbo;
}

.boxLink {
    width: 145px;
    height: 70px;
    border-radius: 45px;
    gap: 10px;
    background-color: #E0DFE2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgavaso {
    width: 55px;
}

.tgLink {
    width: 55px;
}

#subE {
    font-family: unbo;
    font-weight: normal;
    font-size: 1.1rem;
    color: #AEAEAE;
}

.line {
    margin: 30px 0 30px 0;
    width: 100%;
    height: 0.5%;
    background-color: #E0DFE2;
}

.kT {
    font-size: 1rem;
    font-family: unbo;
    font-weight: normal;
    color: #AEAEAE;
    gap: 20px;
    display: flex;
    flex-direction: row;
}





































@keyframes upLoad {
    0% {
        transform: translateY(15%);
        opacity: 20%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}


@font-face {
    font-family: "unbo";
    src: url("Unbounded-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "unbob";
    src: url("Unbounded-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "unbom";
    src: url("Unbounded-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "robl";
    src: url("roboto-light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "robb";
    src: url("roboto-black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "robm";
    src: url("roboto-medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "robr";
    src: url("roboto-regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


@media (max-width: 1750px) {
    .abs_title {
        width: 75%;
    }

    .sky_box {
        width: 75%;
    }
}

@media (max-width: 1350px) {
    .abs_title {
        width: 80%;
    }

    .sky_box {
        width: 80%;
    }
}

/* Для планшетов */
@media (max-width: 1024px) {
    .abs_title {
        width: 85%;
    }
    
    .sky_box {
        width: 85%;
    }
}

/* Для телефонов */
@media (max-width: 768px) {
    .abs_title {
        width: 95%;
    }

    .sky_box {
        width: 95%;
    }
}